<div class='hero-unit clearfix'>
  <img class='pull-left' src="https://d8kyhhndkm363.cloudfront.net/8/263246/kittens8.jpg" style='height: 150px; margin-right: 50px;' />

  <h1>CatBnB</h1>
  <p>
    It's like AirBnB, for cats.
  </p>
  <p>
    <%= @sign_up_count %> people have already signed up.
  </p>
</div>

<div class='row'>
  <div class='span4'>
    <h2>A place to stay</h2>
    <p>Our curated list of CatBnBs come complete with climbing mazes and 
    lots of cardboard tubes covered with carpet.</p>
  </div>

  <div class='span4'>
    <h2>The lap of luxury</h2>
    <p>Every stay comes with an unlimited supply of catnip and tiny
    mouse toys that make noise.</p>
  </div>

  <div class='span4'>
    <h2>Safe and secure</h2>
    <p>Our "No dog guarantee" ensures that you'll never have to
    worry about your safety when staying with us.</p>
  </div>
</div>

<hr />

<div style='text-align: center'>
<p class='lead'>Interested? Sign up for our private beta.</p>

<% if flash[:error].present? %>
  <div class='alert alert-error'>
    <h4>Some errors prevented me from submitting your form:</h4>
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_for(@sign_up) do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Joe Catlover" %>
    <%= f.text_field :email, placeholder: "catfan55@hotmail.com" %>
  </div>
  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
